<form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form>




<form action="/restaurants" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="address" placeholder="Address">
  <input type="submit">
</form>


<%= link_to "Know more about us", about_path %>
<%= link_to "Discover all our restaurants", restaurants_path %>
<%= link_to "Dishoom", restaurant_path(1) %>
